@page
@model IndexModel
@using ParkPlannerPark
@{
    ViewData["Title"] = "Home page";

}

<div class="text-center">
    <h1 class="display-4">Welcome to Park Place</h1>
    <h2>Please stay tuned. Our site is currently under construction.</h2>
    <img src="https://user-images.githubusercontent.com/88552005/277193898-3a55302a-d57f-4ee4-86c3-15473b3e651e.jpg" alt="Park Planner" width="500">
</div>
